.table {
  width: 80%;
  padding: 10px 0;
  margin: 0 auto 40px auto;
  column-gap: 5px;
  font-family: cursive;
}
.tableContainer {
  max-height: 300px;
  overflow-y: auto;
}
tr > td,
tr > th {
  max-height: 10px;
}
tr:hover {
  background-color: lightgray;
}
tr > td {
  border-radius: 10px;
}
tr > th {
  background-color: #ff9d0d;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  overflow: hidden;
}
.noHistoryMsg {
  text-align: center;
  color: gray;
  font-family: cursive;
  font-weight: bold;
  margin: 30px 0;
}
