.header{
    position: sticky;
    top: 0px;
    width: 100%;
    /* height: max-content; */
    background-color: #017959;
}
.logo{
    height: 30px;
    width: auto;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.main{
    min-height: 100vh;
    background: url('https://images.unsplash.com/photo-1556388158-158ea5ccacbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWlycG9ydHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-size: cover;
}
.navLink{
    text-decoration: none;
    color: white !important;
    font-weight: bold;
}
ul{
    list-style-type: none;
    width: max-content; 
    font-size: 0.8rem;  
    padding-left: 15px;
}
li{
    text-align: left;
}
h6{
    padding-left: 15px;
}
.footer section{
    background-color:  #353535;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 30px;
}
.copyRight{
    background-color: #007c5b;
    color: white;
    font-size: 0.8rem;
    padding: 20px 0;
}
.copyRight p{
    padding:0px;
    padding-top: 10px;
    margin: 0px;
}