.title{
    color: white;
    font-weight: bold;
    padding: 50px 0;
    height: 60vh;
}
.HomeContent{
    padding: 20px 10px;
}
.bottomSection{
    background-color: white;
    width: 100%;
    margin: 20px 0;
    border-radius: 5px;
}