.title{
    padding: 30px 0;
    /* height: 60vh; */
}
.title h2{
    color: white;
        font-weight: bold;
}
.HomeContent{
    padding: 20px 10px;
}
.bottomSection{
    background-color: white;
    width: 80%;
    /* margin: auto; */
    margin: 20px auto;
    border-radius: 5px;
}