.content{
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5px;
    width: 80%;
    margin: auto;
    color: black;
    padding: 10px 5px;
    text-align: left;
}

.mainContent{
    background-color: white;
    padding: 20px;
    margin: 10px 0;
    max-height: 250px;
    overflow-y: auto;
}

.selectedButton, .unSelectedButton{
    border: none;
    box-shadow: none;
    margin: 0 5px;
}

.unSelectedButton{
    background-color: rgba(200, 200, 200, 0.5);
}

.flightCards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.flightCard p{
    margin-bottom: 5px;
}

.cities{
    border-left: 3px dashed #ff9d0d;
    padding-left: 5px;
}

.cardDate{
    font-size: 0.9rem;
    color: gray;
    margin-bottom: 0;
}

.cardPrice{
    color: red;
}