.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
}
h5 {
  margin: 10px 0;
  text-align: left;
}
.title {
  padding-left: 30px;
}
.details h6,
.details p {
  text-align: left;
  padding-left: 0;
  margin-bottom: 0;
}
.details h6 {
  color: red;
}
.details > div {
  /* background-color: lightgray; */
  border: 1px solid lightgray;
  padding: 5px 20px;
  border-radius: 5px;
}
